<div class="mt-4">
    <h3>Thêm đánh giá</h3>
    <form method="post" action="/dg/in">

        <div class="form-group">
            <label for="name">Tên người dùng</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="decription">Đánh giá:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
      
        <button type="submit" class="btn btn-primary">Thêm đánh giá</button>
    </form>
</div>