
<div id="tt-pageContent">
    <div class="container-indent">
    <div class="container">
        <div class="tt-login-form">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
            <div class="tt-item">
                <h2 class="tt-title mt-3">
                Nhập mã xác thực đã gửi ở {{email}}
                </h2>
                
                {{#if message}}
                    <div class="alert alert-success text-center mt-4">
                        {{{message}}}
                    </div>
                {{/if}} 

                <div class="form-default">
                <form
                    id="createaccount"
                    method="post"
                    novalidate="novalidate"
                    action="/users/verify-email"
                >
                    <div class="form-group">
                    <label for="loginInputEmail">Nhập mã xác thực *</label>
                    <input
                        type="text"
                        name="token"
                        class="form-control"
                        id="confirm"
                        placeholder="Mã xác thực"
                    />
                    </div>

                    <div class="row">
                    <div class="col-auto">
                        <div class="form-group">
                        <button class="btn btn-success" type="submit">
                            Xác thực
                        </button>
                        </div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>